/* ToDo:
- Schriftart setzen (/)
- ggf. flexible Ausrichtung vertikal, bzgl 100% Bildschirm, wenn mgl. (/)
- Shortcuts für gemeinsame Werte erstellen*/



/* misc */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;   
}

p{
    margin: 0;
}

/* Headings */

h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
    padding: 35px 0;
    text-align: center;
}

h3{
    color: white;
    margin: 0;
}

h4{
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

/* Buttons */

button{
    color: white;
    padding: 5px 15px;
    border-radius: 8px ;
    flex-shrink: 0;
    background-color: #3882F6;
    border-radius: 8px;
}

/* Sections */

/* === header === */

.header{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px 0 200px;
}

.header-links{
    font-size: 18px;
    color: #E5E7EB;
}

.header-links ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.header-links a{
    text-decoration: none;
    color: #F9FAF8;
}

/* === headline === */

.headline{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 100px 200px;

    flex: auto;
}

.headline_left > h1{
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.headline_left > p{
    font-size: 18px;
    color: #E5E7EB;
}

.headline_left > button{
    border: none;
    margin-top: 10px;
}

.headline_placeholder{
    height: 230px;
    width: 525px;
    background-color: gray;
    text-align: center;
    color: white;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === information === */

.information{
    background-color: white;
    padding: 0 200px;
    flex: auto;
}

.illustration-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 150px;}

.illustration > p{
    width: 150px;
    text-align: center;
    margin-top: 15px;
}

.picture{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    outline: 5px solid #3882F6;
    border-radius: 5px;
}

/* === quote === */

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    padding: 100px 350px 75px 350px;
    flex: auto;
}

/* === call_to_action === */

.call_to_action-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
}

.call_to_action{
    background-color: #3882F6;
    display: flex;
    margin: 100px 200px;
    width: 900px;
    height: 150px;
    border-radius: 15px;
    justify-content:space-around;
    align-items: center;
    flex-shrink: 0;
}

.call_to_action p{
    font-size: 18px;
    color: #E5E7EB;
    
}

.call_to_action > button{
    border-color: #F9FAF8;
    border-style: solid;
}

/* === footer === */

.footer{
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 30px 200px;
}

/* === shortcuts === */
/* .header-links, */
/* .headline_left > p, */
/* .call_to_action p{
    font-size: 18px;
    color: #E5E7EB;
} */

/* === Troubleshooting === */

/* Check for areas without set background */

/* body{
    background-color: aqua;
} */

