body{
    background-color: #1F2937;
}

.information{
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.call_to_action{
    background-color: white;
}

.headline_left > h1{
    font-size: 48px;
    color: #F9FAF8;
}

.header-links,
.headline_left > p,
.call_to_action p{
    font-size: 18px;
    color: #E5E7EB;
}

/* ggf. nur h4/h1 verwenden */
.header > h4{
    font-size: 24px;
    color: #F9FAF8;
}

button,
.call_to_action{
    background-color: #3882F6;
}

button{
    color: white;
    padding: 5px 15px;
    border-radius: 8px ;
}

.headline_left > button{
    border: none;
}

.call_to_action > button{
    border-color: #F9FAF8;
    border-style: solid;
}

h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

h3{
    color: white;
}