body{
    background-color: #1F2937;
}

.information{
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
}

.call_to_action{
    background-color: white;
}

.headline_left > h1{
    font-size: 48px;
    color: #F9FAF8;
}

.header-links,
.headline_left > p{
    font-size: 18px;
    color: #E5E7EB;
}

.header > h4{
    font-size: 24px;
    color: #F9FAF8;
}